.login-button{
   margin-bottom: 20px !important;
   margin-top: 80px;
}

ion-content{
   ion-list{
      ion-item{
         background-color: #cad0d5 !important;
      }
   }
}

.bus-intro{
   max-width: 80px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
