<ion-header>
  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Card recharge</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row *ngIf="commuter_status">
        <ion-card *ngFor="let card of cards">
          <ion-card-header>
            Current Balance
          </ion-card-header>
          <ion-card-content>
            {{ card.balance }} Tsh
          </ion-card-content>
        </ion-card>
      </ion-row>
      
    
        <ion-row *ngIf="commuter_status">
          <ion-col>
              <button ion-button round block (click)="paymentOptions()">Card Top up</button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!commuter_status">
            <ion-card>
                <ion-card-content >
                  <p>It looks like you have not yet applied for you travel smart card.</p>
                  <p>You can still apply for it NOW.</p>
                </ion-card-content>
            </ion-card>
            <button ion-button color="danger" block (click) = "applicationPage()">
                Apply for a card
            </button>
        </ion-row>
  </ion-grid>
 
</ion-content>
